@{
    ViewData["Title"] = "Contact Page";
}
<div class="text-center">
    <h1 class="display-4"> Mobile Store</h1>
    <hr/>

    <h3>Contact</h3>
    <p>Email:hd@gmail.com</p>
    <p>Contact:7249600555</p>
</div>